@import "variables.scss";
header,section,footer,div,span{position: relative;}
//Grid
.row {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	max-width: $maxbody;
	padding: 0 1.6rem;
	box-sizing: border-box;
	margin: 0 auto;

	justify-content: space-between;;
	flex-wrap: wrap;
	align-items: stretch;
}
.col {
	padding: 0 .8rem;
	box-sizing: border-box;
	header,section,footer,div,span{display: block;}
}
.col:first-of-type {
	padding-left: 0;
}
.col:last-of-type {
	padding-right: 0;
}


.c1 {
	flex-grow: 1;
	flex-basis: $one;
}
.c2 {
	flex-grow: 2;
	flex-basis: $two;
}
.c3 {
	flex-grow: 3;
	flex-basis: $three;
}
.c4 {
	flex-grow: 4;
	flex-basis: $four;
}
.c5 {
	flex-grow: 5;
	flex-basis: $five;
}
.c6 {
	flex-grow: 6;
	flex-basis: $six;
}
.c7 {
	flex-grow: 7;
	flex-basis: $seven;
}
.c8 {
	flex-grow: 8;
	flex-basis: $eight;
}
.c9 {
	flex-grow: 9;
	flex-basis: $nine;
}
.c10 {
	flex-grow: 10;
	flex-basis: $ten;
}
.c11 {
	flex-grow: 11;
	flex-basis: $eleven;
}
.c12 {
	flex-grow: 12;
	flex-basis: $twelve;
}

@media only screen and (max-width: $tablet) {}

@media only screen and (max-width: $mobile) {
	.col {
		flex-basis: $twelve;
		padding: 0 1.6rem;
	}
	.col:first-of-type {padding-left: 1.6rem;}
	.col:last-of-type {padding-right: 1.6rem;}
	.row {padding: 0;}


	//.row {flex-wrap: wrap;}
	//.col{padding: 0;}
}
