@import "variables.scss";
@import url('https://fonts.googleapis.com/css?family=Rubik:400,400i,500');



// Variables
$font-size: $unit * 2;
$font-weight-regular: 400;
$font-weight-bold: 500;




// Colour
$link-colour-before: darken($link-colour, 8);
$link-colour-after: lighten($link-colour, 8);

$txt: 							$text-colour;
$txt-light: 				lighten($text-colour, 30);
$txt-dark: 					darken($text-colour, 30);
$txt-20:						transparentize($text-colour, .20);
$txt-60: 						transparentize($text-colour, .60);
$txt-40: 						transparentize($text-colour, .40);

.txt-highlight{color: darken($brand, 20)}




//Global
body {
	font-family: 			'Rubik', sans-serif;
	font-size: 				0;
	line-height: 			$font-size * 1.75;
	font-weight: 			$font-weight-regular;
	color: 						$txt;
	header,footer,section,div{
		font-size: 			$font-size
	}
}



// Spacing
h1, h2, h3, h4, h5, h6, p{
	margin:						0;
	margin-top: 			$unit;
	margin-bottom: 		$unit;
}
h1, h2, h3, h4, h5, h6, p{
	margin-top: 			$unit * 1.25;

}




// Size
h1 {
	font-size: 				$font-size * 2.5;					// 250%
	line-height: 			$font-size * 3.25;				// 325%
	font-weight: 			$font-weight-bold;
}
h2 {
	font-size: 				$font-size * 1.75;				// 175%
	line-height: 			$font-size * 2.5;					// 250%
	font-weight: 			$font-weight-regular;
}
h3 {
	font-size: 				$font-size * 1.5;				// 150%
	line-height: 			$font-size * 2.25;			// 225%
	font-weight: 			$font-weight-bold;
}
h4 {
	font-size: 				$font-size * 1.25;			// 125%
	line-height: 			$font-size * 2;					// 200%
	font-weight: 			$font-weight-bold;
}
h5 {
	font-size: 				$font-size * 1;					// 100%
	line-height: 			$font-size * 1.75;			// 175%
	font-weight: 			$font-weight-bold;
}
h6 {
	font-size: 				$font-size * .75;				// 75%
	line-height: 			$font-size * 1.5;				// 150%
	font-weight: 			$font-weight-regular;
}
p, ul, ol, figcaption {
	font-size: 				$font-size;
	line-height: 			$font-size * 1.75;
	font-weight: 			$font-weight-regular;
}




// Sub Styles
a {
	text-decoration: 	none;
	display: 					inline-block;
	color: 						$link-colour-before;
}
a:hover {color: 		$link-colour-after}

em{color: 					$txt-light}




// Lists
ul,ol{
	line-height: 			1em;
	li{
		padding: 				$unit 0;
		margin: 				$unit;
		margin-right: 	-$unit * 2;
		max-width: 			100%;
	}
}

ul{
	list-style-position: inside;
	li{
		list-style-type: disc;
		list-style-position: inside;
	}
	li:before{float: left;}
}

ol{
	counter-reset: my-badass-counter;
	li{counter-increment: my-badass-counter;}
	li:before{
		content: counter(my-badass-counter);
		float: left;
		margin-right: $unit;
	}
}




// Figures
figure{
	display: inline-block;
	width: 100%;
	margin: $unit * 3 auto;
}
figcaption{
	display: block;
	text-align: center;
	padding: $unit * 2;
	opacity: 0.4
}
figure:hover{
	figcaption{opacity: 0.6;}
}
