@import "variables.scss";
@import url('https://fonts.googleapis.com/css?family=Rubik:400,400i,500');

// Base Styles
// html is set to 62.5% so that all the REM measurements throughout Skeleton
// are based on 10px sizing. So basically 1.5rem = 15px :)

// Colour
$link-colour-before: darken($link-colour, 8);
$link-colour-after: lighten($link-colour, 8);

$txt: $text-colour;
$txt-light: lighten($text-colour, 30);
$txt-dark: darken($text-colour, 30);
$txt-20: transparentize($text-colour, .20);
$txt-60: transparentize($text-colour, .60);
$txt-40: transparentize($text-colour, .40);

//Global
body {
	font-family: 'Rubik', sans-serif;
	font-size: 0;
	color: $txt;
}

// Spacing
h1, h2, h3, h4, h5, h6, p {
	-webkit-margin-before: 0rem;
	-webkit-margin-after: 0rem;
}
h1, h2, h3, h4, h5, h6{
	margin-top: 0.8rem;
	margin-bottom: 0.4rem;
}
p{
	margin: 1.2rem 0;
}

// Size
h1 {
	font-size: 		4.8rem;
	line-height: 		6rem;
	font-weight: 		500;
}
h2 {
	font-size: 		3.2rem;
	line-height: 		4.4rem;
	font-weight: 		500;
}
h3 {
	font-size: 		2.4rem;
	line-height: 		3.6rem;
	font-weight: 		500;
}
h4 {
	font-size: 		2rem;
	line-height: 		2.8rem;
	font-weight: 		500;
}
h5 {
	font-size: 		1.6rem;
	line-height: 		2.8rem;
	font-weight: 		500;
}
h6 {
	font-size: 		1.2rem;
	line-height: 		2.8rem;
	font-weight: 		500;
}
p, ul, ol, figcaption {
	font-size: 				1.6rem;
	line-height: 			2.8rem;
	font-weight: 			400;
}


// Sub Styles
a {
	text-decoration: none;
	display: inline-block;
	color: $link-colour-before;
}
a:hover {color: $link-colour-after}

em{color: $txt-light}

// Lists
ul,ol{
	line-height: 1em;
	li{
		margin: 1.2rem .8rem;
		margin-right: -1.6rem;
	}
}
ul{
	list-style-position: inside;

	li{
		list-style-type: disc;
		list-style-position: inside;
	}
	li:before{
		float: left;
	}
}
ol{
	counter-reset: my-badass-counter;
	li{counter-increment: my-badass-counter;}
	li:before{
		content: counter(my-badass-counter);
		float: left;
		margin-right: 1rem;
	}
}

figure{
	display: inline-block;
	width: 100%;
	margin: 2.4rem auto;
}
figcaption{
	display: block;
	text-align: center;
	padding: 1.6rem;
	opacity: 0.4
}
figure:hover{
	figcaption{opacity: 0.6;}
}
