//Colours
$brand: #60D394;
$text-dark: rgba(0,0,0,1);
$background: white;

// Misc
$transition-smooth: cubic-bezier(0.25,-0.05, 0, 1.05);
$transition-bounce: cubic-bezier(0.5, 0, 0, 1.25);
$transition-whip: cubic-bezier(1, 0.25, 0, 1.05);

// Column Width Values
$one:       8.33%;
$two:       16.66%;
$three:     25%;
$four:      33.33%;
$five:      41.66%;
$six:       50%;
$seven:     58.33%;
$eight:     66.66%;
$nine:      75%;
$ten:       83.33%;
$eleven:    91.66%;
$twelve:    100%;

$tablet:	860px;
$mobile:	560px;
$maxbody:	calc( 1136px + 3.2rem );
