//Colours
$link-colour: #60D394;
$text-colour: rgb(235,235,235);
$background: rgb(35,35,35);

// Misc
$transition-easeOutCirc: cubic-bezier(0.075, 0.82, 0.165, 1);
$transition-easeInOutCirc: cubic-bezierr(0.785, 0.135, 0.15, 0.86);
$transition-easeInOutQuad: cubic-bezier(0.455, 0.03, 0.515, 0.955);


// Breakpoints
$tablet:	860px;
$mobile:	560px;
$maxbody:	1136px;

// Column Width Values
$one:       8.33%;
$two:       16.66%;
$three:     25%;
$four:      33.33%;
$five:      41.66%;
$six:       50%;
$seven:     58.33%;
$eight:     66.66%;
$nine:      75%;
$ten:       83.33%;
$eleven:    91.66%;
$twelve:    100%;
