// Variables
@import '../variables/layout';
@import '../variables/colour';
@import '../variables/font';


// Overlays
@mixin gradient ($gradient-start, $gradient-end, $gradient-backup) {
	background: $gradient-backup;
	background: linear-gradient(to top, $gradient-start 0%, $gradient-end 100%);
}

@mixin overlay {
	background: transparentize($black,.3);
	background: linear-gradient(to top, transparentize(black,.06) 0%, transparentize(black,.3) 100%);
}

@mixin gradient-brand_light {
	background: $brand;
	background: linear-gradient(to top right, $brand 0%, $brand-light 100%);
}
@mixin gradient-brand_dark {
	background: $brand-dark;
	background: linear-gradient(to top right, $brand-dark 0%, $brand 100%);
}
