@import "framework/variables.scss";

#demo{
	.col{
		span{
			background-color: #EE6055;
			margin: .5rem 0;
			width: 100%;
			height: 2rem;
			border-radius: .5rem;
		}
	}

	.c1,.c7{
		span{background-color: #EE6055;}
	}
	.c2,.c8{
		span{background-color: #60D394;}
	}
	.c3,.c9{
		span{background-color: #AAF683;}
	}
	.c4,.c10{
		span{background-color: #FFD97D;}
	}
	.c5,.c11{
		span{background-color: #FF9B85;}
	}
	.c6,.c12{
		span{background-color: #79ADDC;}
	}
}

// Embeded Content
img {
	padding: 0;
	display: block;
	max-width: 100%;
	height: auto;
	box-sizing: border-box;
}

.embedded-content{
	text-align: center;
	box-sizing: border-box;
	padding: 4rem;
	*{
		text-align: center;
		display: inline-block;
		margin: 0 auto;
	}
}

// Overlay
.overlay {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 5;
	width: 100%;
	height: 100%;
	background-color: rgba(42,36,51,0)
}
.overlay::after {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0);
	background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(9,9,9,0) 25%, rgba(18,18,18,0.6) 50%, rgba(36,35,35,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,0)), color-stop(25%, rgba(9,9,9,0)), color-stop(50%, rgba(18,18,18,0.6)), color-stop(100%, rgba(36,35,35,1)));
	background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(9,9,9,0) 25%, rgba(18,18,18,0.6) 50%, rgba(36,35,35,1) 100%);
	background: -o-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(9,9,9,0) 25%, rgba(18,18,18,0.6) 50%, rgba(36,35,35,1) 100%);
	background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(9,9,9,0) 25%, rgba(18,18,18,0.6) 50%, rgba(36,35,35,1) 100%);
	background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(9,9,9,0) 25%, rgba(18,18,18,0.6) 50%, rgba(36,35,35,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#242323', GradientType=0 );
}

@media only screen and (min-width: $maxbody) {}
@media only screen and (max-width: $tablet) {}
@media only screen and (max-width: $mobile) {}
