@import "framework/variables.scss";

nav{
	li{
		display: inline-block;
	}
}
#article{
	background-color: rgba(0,0,0,0.05);
	article{
		min-height: 500px;
		flex-basis: 800px;
		flex-grow: 0;
		margin: 8rem 0;
		background-color: white;
		.content{
			padding: 4rem;
			display: flex;
			flex-wrap: wrap;
			//align-items: flex-start;
			h1,h2,h3,h4,h5,h6,p{
				flex-basis: 100%;
				-webkit-margin-before: .8rem;
				-webkit-margin-after: .8rem;
			}
			.img{
				flex-grow: 1;
				margin: 2rem 0;
			}
		}
	}
}

@media only screen and (min-width: $maxbody) {}
@media only screen and (max-width: $tablet) {}
@media only screen and (max-width: $mobile) {}
