{# index.twig #}
{% extends "layouts/_deafult.twig" %}

	{% set page = "home" %}

	{% set title = "OllieJT" %}
	{% set meta_title = "Bespoke Web Design" %}
	{% set date = "April 12th 2020" %}
	{% set intro = "I design effective user experiences and interfaces that help users understand just how awesome you and your service are. Let’s get in touch to talk about how I can find a solution to your needs." %}
	{% set image = "img/photo-shanghai.jpg" %}
	{% set tags = ["contact", "email", "wechat", "twitter", "details", "OllieJT", "Ollie", "WebDesign", "Website", "Design", "Esports", "gaming", "e-sports", "game", "gamer", "team", "ui", "ux", "english", "shanghai", "china", "expat", "blog"] %}

{% block content %}

<header>
	<h1>{{ title }}</h1>
</header>

{% endblock %}
