{# index.twig #}
{% extends "layouts/_default.twig" %}

	{% set title = "Website Title" %}
	{% set meta_title = "Page Title" %}
	{% set date = "April 12th 2020" %}
	{% set intro = "Description" %}
	{% set image = "img/thumbnail.jpg" %}
	{% set tags = ["one", "tow", "three"] %}

{% block content %}

<header>
	<h1>{{ title }}</h1>
</header>

<section id="demo">

	<div class="row">
		<div class="col c4"><span></span></div>
		<div class="col c4"><span></span></div>
		<div class="col c4"><span></span></div>
		<div class="col c4"><span></span></div>
		<div class="col c4"><span></span></div>
	</div>

	<div class="row">
		<div class="col c1"><span></span></div>
		<div class="col c1"><span></span></div>
		<div class="col c1"><span></span></div>

		<div class="col c1"><span></span></div>
		<div class="col c1"><span></span></div>
		<div class="col c1"><span></span></div>

		<div class="col c1"><span></span></div>
		<div class="col c1"><span></span></div>
		<div class="col c1"><span></span></div>

		<div class="col c1"><span></span></div>
		<div class="col c1"><span></span></div>
		<div class="col c1"><span></span></div>
	</div>

	<div class="row">
		<div class="col c4"><span></span></div>
		<div class="col c4"><span></span></div>
		<div class="col c4"><span></span></div>
	</div>

	<div class="row">
		<div class="col c8"><span></span></div>
		<div class="col c4"><span></span></div>
	</div>

	<div class="row">
		<div class="col c3"><span></span></div>
		<div class="col c3"><span></span></div>
		<div class="col c3"><span></span></div>
		<div class="col c3"><span></span></div>
	</div>

	<div class="row">
		<div class="col c6"><span></span></div>
		<div class="col c2"><span></span></div>
		<div class="col c1"><span></span></div>
		<div class="col c3"><span></span></div>
	</div>

</section>

{% endblock %}
