{# index.twig #}
{% extends "layouts/_deafult.twig" %}

	{% set page = "home" %}

	{% set title = "Website Title" %}
	{% set meta_title = "Page Title" %}
	{% set date = "April 12th 2020" %}
	{% set intro = "Description" %}
	{% set image = "img/thumbnail.jpg" %}
	{% set tags = ["one", "tow", "three"] %}

{% block content %}

<header>
	<h1>{{ title }}</h1>
</header>

{% endblock %}
