@charset "utf-8";
@import "parts/framework/variables.scss";
@import "parts/framework/normalize.scss";

/* Globals */
@import "parts/framework/globals.scss";

/* Grid System */
@import "parts/framework/grid.scss";

/* Typography */
@import "parts/typography.scss";

/* Elements */
@import "parts/elements.scss";

/* Sections */
@import "parts/sections.scss";


// Demo

.animate{
	width: 100%;
	height: auto;
	background-color: #60D394;
	border-radius: .4rem;
	padding: 0 .8rem;
	box-sizing: border-box;
	span{
		width: 100px !important;
		height: 100px !important;
		background-color: #AAF683 !important;
		left:0;
		right:100%;
		position: relative;
	}
}
.animate:hover{
	span{
		//transform: translatex(100%);
		left: calc(100% - 100px);
		right:0;
	}
}
.dark{
	background-color: black;
	border-radius: .4rem;
}
section,header,footer{
	margin-bottom: 8rem;
	.col{
		span{
			background-color: black;
			margin: .8rem 0;
			width: 100%;
			//height: 2rem;
			border-radius: .5rem;

			font-size: 1.6rem;
			line-height: 2.4rem;
			padding: 1rem;
			text-align: center;
			box-sizing: border-box;
		}
	}
	.c1{
		span{
			background-color: #EE6055;
			color: darken(#EE6055 ,50)
		}
	}
	.c2{
		span{
			background-color: #60D394;
			color: darken(#60D394 ,50)
		}
	}
	.c3{
		span{
			background-color: #AAF683;
			color: darken(#AAF683 ,50)
		}
	}
	.c4{
		span{
			background-color: #FFD97D;
			color: darken(#FFD97D ,50)
		}
	}
	.c5{
		span{
			background-color: #FF9B85;
			color: darken(#FF9B85 ,50)
		}
	}
	.c6{
		span{
			background-color: #79ADDC;
			color: darken(#79ADDC ,50)
		}
	}
	.c7{
		span{
			background-color: lighten(#EE6055 ,5);
			color: darken(#EE6055 ,50)
		}
	}
	.c8{
		span{
			background-color: lighten(#60D394 ,5);
			color: darken(#60D394 ,50)
		}
	}
	.c11{
		span{
			background-color: lighten(#AAF683 ,5);
			color: darken(#AAF683 ,50)
		}
	}
	.c10{
		span{
			background-color: lighten(#FFD97D ,5);
			color: darken(#FFD97D ,50)
		}
	}
	.c9{
		span{
			background-color: lighten(#FF9B85 ,5);
			color: darken(#FF9B85 ,50)
		}
	}
	.c12{
		span{
			background-color: lighten(#79ADDC ,5);
			color: darken(#79ADDC ,50)
		}
	}
}
header,footer{
	.col{
		span{
			background-color: rgba(0,0,0,0.08);
			margin: .5rem 0;
			padding: 4rem;
		}
	}
}
footer{margin-bottom: 0;}
