@charset "utf-8";
@import "parts/framework/variables.scss";
@import "parts/boilerplate/normalize.scss";

// Globals
@import "parts/boilerplate/globals.scss";

// Grid System
@import "parts/framework/grid.scss";

// Typography
@import "parts/framework/typography.scss";

// Elements
@import "parts/elements.scss";

// Sections
@import "parts/sections.scss";


	// Grid
	section,header,footer{
		margin: 8rem 0;
		.col{
			span{
				background-color: rgba(0,0,0,0.3);
				color: white;


				margin: .8rem 0;
				width: 100%;
				//height: 2rem;
				border-radius: .5rem;

				font-size: 1.6rem;
				line-height: 2.4rem;
				padding: 1rem;
				text-align: center;
				box-sizing: border-box;
			}
		}
	}
