//Colours
$brand: #dc554e;


// Column Width Values
$one:       8.33%;
$two:       16.66%;
$three:     25%;
$four:      33.33%;
$five:      41.66%;
$six:       50%;
$seven:     58.33%;
$eight:     66.66%;
$nine:      75%;
$ten:       83.33%;
$eleven:    91.66%;
$twelve:    100%;

$tablet:	810px;
$mobile:	510px;
$maxbody:	1136px;
