<!DOCTYPE html>
<html lang="en">
<head>{% include 'includes/template/head.twig' %}</head>
<body>
{% include 'includes/template/navigation.twig' %}

	{% block content %}{% endblock %}

{% include 'includes/template/footer.twig' %}
{% include 'includes/template/footer-scripts.twig' %}
</body>
</html>
