{% extends "layouts/deafult.twig" %}

	{# A short title for this page #}
	{% set title = "Home Page" %}
	{% set metaTitle = "Welcome to Home Page" %}
	{# A short descriptive sentence about this page #}
	{% set metaDescription = "A short descriptive sentence about this page" %}
	{# Date of publication - Mar. 03, 2017 #}
	{% set metaImage = "Mar. 03, 2017" %}
	{# Build the link to this page after the root URL #}
	{% set pageNav = "A short descriptive sentence about this page" %}
	{# Location of featured image after domain.com/... #}
	{% set metaImage = "img/image.jpg" %}
	{# Meta tags, these are getting old... #}
	{% set metaTags = ["Welcome", "Homepage", "Quickstart"] %}

{% block content %}
{% include 'includes/page-hero.twig' %}


{# Typography #}
<section>
	<div class="row">
		<div class="col c12">
			<h4 class="highlight">Typography</h4>
		</div>
	</div>
	<div class="row">
		<div class="col c6">
			<h1>This is headline one</h1>
			<h2>This is headline two</h2>
			<h3>This is headline three</h3>
			<h4>This is headline four</h4>
			<h5>This is headline five</h5>
			<h6>This is headline six</h6>
			<p>
				This is a short sample of paragraph text, it is <a href=".">important</a> to see it on multiple lines. I think a short sample paragraph is important to see it how multiple lines of text will work.
			</p>
				<ul>
					<li>Unordered List Item</li>
					<li>Unordered List Item</li>
					<li>Unordered List Item</li>
				</ul>
				<ol>
					<li>Ordered List Item</li>
					<li>Ordered List Item</li>
					<li>Ordered List Item</li>
				</ol>
		</div>
		<div class="col c6 dark">
			<h1>This is headline one</h1>
			<h2>This is headline two</h2>
			<h3>This is headline three</h3>
			<h4>This is headline four</h4>
			<h5>This is headline five</h5>
			<h6>This is headline six</h6>
			<p>
				This is a short sample of paragraph text, it is <a href=".">important</a> to see it on multiple lines. I think a short sample paragraph is important to see it how multiple lines of text will work.
			</p>
			<p>
				<ul>
					<li>Unordered List Item</li>
					<li>Unordered List Item</li>
					<li>Unordered List Item</li>
				</ul>
				<ol>
					<li>Ordered List Item</li>
					<li>Ordered List Item</li>
					<li>Ordered List Item</li>
				</ol>
			</p>
		</div>
	</div>

</section>

{# Animation #}
<section>
	<div class="row">
		<div class="col c12">
			<h4 class="highlight">Animation</h4>
		</div>
	</div>
	<div class="row">
		<div class="col c4">
			<h5>Smooth</h5>
			<div class="animate animate-smooth"><span></span></div>
		</div>
		<div class="col c4">
			<h5>Bounce</h5>
			<div class="animate animate-bounce"><span></span></div>
		</div>
		<div class="col c4">
			<h5>Whip</h5>
			<div class="animate animate-whip"><span></span></div>
		</div>
	</div>

</section>

{# Grid System #}
<section>
	<div class="row">
		<div class="col c12">
			<h4 class="highlight">Grid System</h4>
		</div>
	</div>
	<div class="row">
		<div class="col c6"><span>6</span></div>
		<div class="col c3"><span>3</span></div>
		<div class="col c2"><span>2</span></div>
		<div class="col c1"><span>1</span></div>
	</div>
	<div class="row">
		<div class="col c7"><span>7</span></div>
		<div class="col c5"><span>5</span></div>
	</div>
	<div class="row">
		<div class="col c8"><span>8</span></div>
		<div class="col c4"><span>4</span></div>
	</div>
	<div class="row">
		<div class="col c9"><span>9</span></div>
		<div class="col c3"><span>3</span></div>
	</div>
	<div class="row">
		<div class="col c10"><span>10</span></div>
		<div class="col c2"><span>2</span></div>
	</div>
	<div class="row">
		<div class="col c11"><span>11</span></div>
		<div class="col c1"><span>1</span></div>
	</div>
	<div class="row">
		<div class="col c12"><span>12</span></div>
	</div>
</section>




{% endblock %}
