{% extends "layouts/deafult.twig" %}

	{% set title = "Home Page" %}
	{% set metaImage = "./img/slider/slider-1.jpg" %}
	{% set metaTags = ["Fast!", "Easy!", "Efficient!"] %}
	{% set metaTitle = "Home Page" %}
	{% set metaDescription = "Home Page" %}

{% block content %}
{% include 'includes/page-header.twig' %}

<section>
	<div class="row">
		<div class="col c12">
			<h4 class="highlight">Typography</h4>
		</div>
	</div>
	<div class="row">
		<div class="col c6">
			<h1>This is headline one</h1>
			<h2>This is headline two</h2>
			<h3>This is headline three</h3>
			<h4>This is headline four</h4>
			<h5>This is headline five</h5>
			<h6>This is headline six</h6>
			<p>
				This is a short sample of paragraph text, it is important to see it on multiple lines.
			</p>
		</div>
		<div class="col c6">
			<h1 class="highlight">This is headline one</h1>
			<h2 class="highlight">This is headline two</h2>
			<h3 class="highlight">This is headline three</h3>
			<h4 class="highlight">This is headline four</h4>
			<h5 class="highlight">This is headline five</h5>
			<h6 class="highlight">This is headline six</h6>
			<p>
				This is a short sample of paragraph text, it is <a href=".">important</a> to see it on multiple lines.
			</p>
		</div>
	</div>

</section>

<section>
	<div class="row">
		<div class="col c12">
			<h4 class="highlight">Grid System</h4>
		</div>
	</div>
	<div class="row">
		<div class="col c1"><span>1</span></div>
		<div class="col c2"><span>2</span></div>
		<div class="col c3"><span>3</span></div>
		<div class="col c6"><span>6</span></div>
	</div>
	<div class="row">
		<div class="col c4"><span>4</span></div>
		<div class="col c8"><span>8</span></div>
	</div>
	<div class="row">
		<div class="col c5"><span>5</span></div>
		<div class="col c7"><span>7</span></div>
	</div>
	<div class="row">
		<div class="col c9"><span>9</span></div>
		<div class="col c3"><span>3</span></div>
	</div>
	<div class="row">
		<div class="col c10"><span>10</span></div>
		<div class="col c2"><span>2</span></div>
	</div>
	<div class="row">
		<div class="col c11"><span>11</span></div>
		<div class="col c1"><span>1</span></div>
	</div>
	<div class="row">
		<div class="col c1"><span>1</span></div>
		<div class="col c1"><span>1</span></div>
		<div class="col c1"><span>1</span></div>
		<div class="col c1"><span>1</span></div>
		<div class="col c1"><span>1</span></div>
		<div class="col c1"><span>1</span></div>
		<div class="col c1"><span>1</span></div>
		<div class="col c1"><span>1</span></div>
		<div class="col c1"><span>1</span></div>
		<div class="col c1"><span>1</span></div>
		<div class="col c1"><span>1</span></div>
		<div class="col c1"><span>1</span></div>
	</div>
</section>






{% include 'includes/page-footer.twig' %}
{% endblock %}
