{% extends "layouts/deafult.twig" %}

	{% set title = "Home Page" %}
	{% set metaImage = "./img/slider/slider-1.jpg" %}
	{% set metaTags = ["Fast!", "Easy!", "Efficient!"] %}
	{% set metaTitle = "Home Page" %}
	{% set metaDescription = "Home Page" %}

{% block content %}
{% include 'includes/page-header.twig' %}

<div id="demo">
	<div class="row">
		<div class="col c1"><span></span></div>
		<div class="col c2"><span></span></div>
		<div class="col c3"><span></span></div>
		<div class="col c6"><span></span></div>
	</div>
	<div class="row">
		<div class="col c4"><span></span></div>
		<div class="col c8"><span></span></div>
	</div>
	<div class="row">
		<div class="col c5"><span></span></div>
		<div class="col c7"><span></span></div>
	</div>
	<div class="row">
		<div class="col c9"><span></span></div>
		<div class="col c3"><span></span></div>
	</div>
	<div class="row">
		<div class="col c10"><span></span></div>
		<div class="col c2"><span></span></div>
	</div>
	<div class="row">
		<div class="col c11"><span></span></div>
		<div class="col c1"><span></span></div>
	</div>
	<div class="row">
		<div class="col c12"></div>
	</div>
</div>

<div class="row">
	<div class="col c12">
		
	</div>
</div>




{% include 'includes/page-footer.twig' %}
{% endblock %}
