@import "framework/variables.scss";
@import url('https://fonts.googleapis.com/css?family=Assistant:400,700,800');
// @import url("http://weloveiconfonts.com/api/?family=entypo");
// @import url("https://fonts.googleapis.com/css?family=Roboto+Slab:400,700");

// Base Styles
// html is set to 62.5% so that all the REM measurements throughout Skeleton
// are based on 10px sizing. So basically 1.5rem = 15px :)


[class*="entypo-"]:before {font-family: 'entypo', sans-serif;}

body {
	font-family: 'Assistant', sans-serif;
	font-size: 0;
}


// Typography
h1, h2, h3, h4, h5,p {
	-webkit-margin-before: 0rem;
	-webkit-margin-after: 1rem;
}
h1, h2, h3, h4, h5 {
	text-transform: uppercase;
     color: #9012fe;
}
h1 {
	font-size: 		4.8rem;
	line-height: 		5.6rem;
	font-weight: 		800;
}
h2 {
	font-size: 		2.4rem;
	line-height: 		3.2rem;
	font-weight: 		800;
}
h3 {
	font-size: 		2.4rem;
	line-height: 		3.2rem;
	font-weight: 		400;
}

h4 {
	font-size: 		1.6rem;
	line-height: 		2.4rem;
	font-weight: 		700;
}
h5 {
	font-size: 		1.2rem;
	line-height: 		1.6rem;
	font-weight: 		400;
}

p, ul, ol {
	font-size: 			1.6rem;
     line-height: 			2rem;
     font-weight: 			400;
	margin-bottom: 		2rem;
     color: 				#9012fe;
}
a {
	text-decoration: none;
	display: inline-block;
	color: #9012fe;
}

a {color: #9012fe;}
a:hover {color: darken(#9012fe, 15);}


// Lists
ol,ul{
	li{padding: 1rem;}
	li:nth-child(odd){opacity: 0.75;}
}

ul{
	list-style-position: inside;
	li{
		list-style-type: circle;
	}
	li:before{
		float: left;
	}
}

ol{
	counter-reset: my-badass-counter;
	li{counter-increment: my-badass-counter;}
	li:before{
		content: counter(my-badass-counter);
		float: left;
		margin-right: 1rem;
	}
}
